*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(98, 164, 234);
}
.wrapper{
    background: #fff;
    width: 450px;
    padding: 30px;
    border-radius: 9px;
}
.wrapper .pass-field{
    height: 65px;
    width: 100%;
    position: relative;
}
.pass-field input{
    width: 100%;
    height: 100%;
    padding: 0 17px;
    outline: none;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1.5px solid grey;
}
.pass-field i {
    right: 18px;
    top: 50%;
    color: #999;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
}
.wrapper .content {
    margin: 20px 0 10px;
}
.content p{
    font-size: 1.3rem;
}
.content .requirments-list{
    margin-top: 20px;
}
.requirments-list li{
    list-style-type: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.requirments-list li i{
    font-size: 0.6rem;
    color: #aaa;
    width: 20px;
}
.requirments-list li.valid i{
    font-size: 1.2rem;
    color: #4855f4;
}
.requirments-list li span{
    margin-left: 15px;
}
.requirments-list li.valid span{
    color: #999;
}